@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --border-color: #cf02da9f;
    --body-color: #f3f3f8;
    --invert: 0%;
    --card-bg: #ededed;
    --stoke: #eaeaea;
    --pg-color: #3c3c3c;
}

body {
    background-color: var(--body-color);
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 50px;
    background-color: var(--primary-color);
    margin: 30px 0px;
    border-radius: 10px;
    box-shadow: inset 5.87px 6.55px 12.43px -1.55px rgba(0, 0, 0, 0.15),
        inset -8.81px -9.83px 12.43px -1.55px rgba(0, 0, 0, 0.3),
        17.62px 19.66px 9.32px -4.66px rgba(0, 0, 0, 0.6);
}

.section-title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.section-title span {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 7px;
    color: var(--secondary-color);
}

.section-title h1 {
    font: 3.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--border-color);
}

.section-title p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--secondary-color);
}

.section-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
}

.section-page img {
    width: 45%;
    border-radius: 50%;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border: 30px solid var(--primary-color);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3), inset 0 -11px 16.5px rgba(0, 0, 0, 0.3), inset 0 11px 16.5px rgba(255, 255, 255, 0.6);
    z-index: 9;
    filter: invert(--invert);
}

.main-section {
    width: 90%;
    min-height: 100vh;
    margin: auto;
    padding-top: 80px;
    display: flex;

}

.header {
    width: 20%;
    position: fixed;
    top: 110px;
    align-items: start;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 30px;
    box-shadow: inset 5.87px 6.55px 12.43px -1.55px rgba(0, 0, 0, 0.15),
        inset -8.81px -9.83px 12.43px -1.55px rgba(0, 0, 0, 0.3),
        17.62px 19.66px 9.32px -4.66px rgba(0, 0, 0, 0.6);

}


.logo {
    width: 200px;
}

.logo img {
    width: 100%;
    filter: invert(--invert);
}

.menu {
    background-color: var(--primary-color);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
    width: 100%;

}

.menu li a {
    font: 25px;
    color: var(--secondary-color);
}
.menu li a:hover{
    color: var(--border-color);
}
/* SOCIAL SECTION */

.socials {
    display: flex;
    gap: 20px;
    padding-top: 40px;
  }
  
  .socials a svg {
    background: #fffffff3;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3),
      inset 0 -21px 31.5px rgba(0, 0, 0, 0.3),
      inset 0 21px 31.5px rgba(255, 255, 255, 0.6);
  }
  
  .socials a::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0, 0.5);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 400ms cubic-bezier(.42, 0, .44, 1.68);
  }
  
  .socials a:hover {
    fill: white;
  }
  
  .socials a:hover svg {
    fill: white;
    background: var(--accent-color);
  
  }
  
  .socials a::after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
  }
  
  .socials a:hover::before {
    transform: translateY(-65px) rotate(0);
    opacity: 1;
  }
  
  .socials a:hover::after {
    transform: translateY(-42px) rotate(0);
    opacity: 1;
  }
/* 
.social-icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50%;
    gap: 10px;
}
 */
.section-icon i {
    font-size: 45px;
    color: var(--secondary-color);
}

#bars {
    font-size: 30px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    display: none;
    color: var(--secondary-color);
}

/* MAIN SECTION */

.main {
    min-height: 100vh;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 25%;
    border-radius: 10px;
    z-index: 999;
    position: relative;
}

.mood {
    display: flex;
    cursor: pointer;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0.9%;
    right: 3%;
    z-index: 999;
}

.mood i {
    font-size: 35px;
    color: var(--secondary-color);
}

/* ABOUT SECTION */

.about-page {
    padding-top: 60px;
}

.left-text {
    position: absolute;
    left: 0%;
    top: 1%;
    z-index: 0;
}

.right-text {
    position: absolute;
    right: 30%;
    top: 75%;
}

.right-text h2,
.left-text h2 {
    font-size: 7.5rem;
    font-weight: 900;
    color: var(--primary-color);
    position: absolute;
    -webkit-text-stroke: 0.1vw var(--border-color);
}

#animate-text::before {
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: var(--border-color);
    overflow: hidden;
    position: absolute;
    content: attr(data-text);
    -webkit-text-stroke: 0vw var(--border-color);
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.rows {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 40px;
    gap: 30px;
}

.progress-card {
    margin-bottom: 30px;
}

.progress-card .percent {
    position: relative;
}

.progress-card svg {
    position: relative;
    width: 136px;
    height: 136px;
    transform: rotate(90deg);
}

.progress-card svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--stoke);
    stroke-width: 14;
    stroke-linecap: round;
}

.progress-card svg circle:last-of-type {
    position: relative;
    stroke-dasharray: 380px;
    stroke-dashoffset: calc(380px - 380px * var(--percent)/ 100);
    stroke: var(--border-color);
}

.progress-card .number {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-card .number h3,
.progress-card {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 28px;
}

.progress-card .title h2 {
    font-size: 22px;
}

/* SERVICES SECTION */

.title span {
    font-size: 22px;
    font-weight: 400;
}

.title h1 {
    font-size: 2.5rem;
    color: var(--border-color);
}

.services-rows {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    place-items: center;
    gap: 30px;
}

.services-col {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid var(--border-color);
    padding: 30px;
    border-radius: 10px;
}

.item-icon {
    min-height: 80px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--card-bg);
    width: 25%;
    filter: invert(--invert);
}

.services-col .text {
    text-align: left;
}

.services-col .text h2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 0;
    color: var(--border-color);
    display: flex;
    align-items: center;
}

.services-col .text p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--pg-color);
}
/* PORTFOLIO PAGE */


.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
  }
  
  .projects-title{
    padding-top: -50px;
    margin-top: -50px;
    margin-bottom: 30px;
    font-size: 40px;
    align-items: center;
    color: #555;
  }
  
  .card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  }
  
  .card>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .card>.row>.icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
  }
  
  .description p {
    color: #b0b0ba;
    padding-top: 5px;
    margin-bottom: 20px;
  }
  
  .description h4 {
    text-transform: uppercase;
  }
  
  .projects input {
    display: none;
  }
  
  input:checked+label {
    width: 600px;
  }
  
  input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  

/* CONTACT PAGE */

.contact-rows {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    place-items: center;
    gap: 30px;
}

.info-item {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.info-item .text {
    text-align: left;
}

.info-item .text h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
}

.info-item .text span {
    color: var(--pg-color);
    font-size: 22px;
}

.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-box table {
    width: 100%;
}

table tr {
    display: flex;
    flex-direction: column;
}

table tr td {
    display: flex;
    gap: 10px;
    padding: 10px 0px;
}

table input,
textarea,
select {
    color: var(--secondary-color);
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border: 1px solid hsla(0, 0, 0.85%, .855);
    background: transparent;
    border-radius: 10px;
    outline: none;

    &::placeholder {
        color: var(--secondary-color);
    }
}

.contact-box button {
    color: var(--primary-color);
    border-radius: 30px;
    border: none;
    font-size: 25px;
    background-color: transparent;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.3),
        inset 0 -11px 16.5px rgba(0, 0, 0, 0.3),
        inset 0 11px 16.5px rgba(255, 255, 255, 0.6);
    margin: 40px 0px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px 40px;
    transition: all ease 0.5s;
    background-color: var(--border-color);
}

.contact-box button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* FOOTER SECTION */

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.footer p,
a {
    font-size: 22px;
    color: var(--secondary-color);
    font-weight: 500;
}

.footer ul {
    display: flex;
    gap: 30px;
}

.footer ul li {
    border-left: 2px solid var(--secondary-color);
    padding-left: 10px;
}
.footer a:hover{
    color: var(--border-color);
}
.footer ul li:nth-child(1) {
    border: none;
}

/* RESPONSIVENESS */

@media(max-width:1400px) {

    .left-text h2,
    .right-text h2 {
        font-size: 6rem;
    }

    .menu li a {
        font-size: 22px;
    }

    .services-col .text p {
        font-size: 16px;
    }

    .text h3 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .item h2 {
        font-size: 2.5rem;
    }

    .item h4 {
        font-size: 1.5rem;
    }

    .content h2 {
        font-size: 1.5rem;
    }

    .info-item .text span {
        font-size: 18px;
    }
}

@media(max-width:1200px) {
    .menu li a {
        font-size: 18px;
    }

    .left-text h2,
    .right-text h2 {
        font-size: 5.5rem;
    }

    .logo img {
        width: 70%;
    }

    .top-content h2 {
        font-size: 40px;
    }

    .item-icon {
        min-height: 50px;
        min-width: 50px;
    }

    .info-item .text span {
        line-height: 20px;
    }
}

@media(max-width:1100px) {
    .services-rows {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .services-col {
        width: 80%;
        justify-content: center;
    }

    .contact-rows {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    table tr td {
        flex-direction: column;
    }

}

@media(max-width:1000px) {
    .logo {
        width: 150px;
    }

    .social-icon i {
        font-size: 18px;
    }

    .section-title h1 {
        font-size: 2.5rem;
    }

    .left-text h2,
    .right-text h2 {
        font-size: 4.5rem;
    }

    .rows {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer p,
    a {
        font-size: 17px;
    }

    .footer ul {
        gap: 15px
    }
}

@media(max-width:900px) {
    #bars {
        display: block;
    }

    .main-section {
        flex-direction: column;
    }

    .header {
        position: relative;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .social-icon {
        padding-top: 0;
        display: none;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        width: 30%;
    }

    .menu {
        height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        margin: 0;
        transition: all ease 0.5s;
    }

    .show {
        opacity: 1;
        min-height: 300px;
        padding: 30px;
    }

    .main {
        width: 100%;
        margin: 0;
    }

    .contact-box button {
        font-size: 18px;
    }
}

@media(max-width:768px) {
    .section-page img {
        width: 50%;
        border: 20px solid var(--primary-color);
    }

    .left-text {
        left: -5%;
        top: 7%;
    }

    .right-text {
        top: 60%;
        right: 35%;
    }

    .portfolio-wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-rows {
        grid-template-columns: repeat(1, 1fr);
    }

    .content ul li {
        font-size: 14px;
    }

    .content h2 {
        font-size: 1rem;
    }
}

@media(max-width:500px) {
    .rows {
        grid-template-columns: repeat(1, 1fr);
    }

    .services-col {
        width: 100%;
    }

    .text h3 {
        line-height: 28px;
        font-size: 18px;
    }

    .footer {
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }
}